* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  color: cadetblue;
  transition: all 2s;
  animation-timing-function: 1.5s;

}

h1:hover {
  color: fuchsia;
}

.container {
  display: grid;
  /*grid-template-columns: repeat(3,250px);*/
  gap:  1em;
  min-height: 100vh;
  min-width: 100vh;
  font-weight: 700;
  text-align: center;
}

.item-1 {
grid-column: span 3;
background-color: palevioletred;
transition: background-color 2s;
animation-timing-function: ease-in-out;
}

.item-1:hover {
  background-color: palevioletred;
}

.item-2 {
  grid-row: span 3;
  background-color: whitesmoke;
  transition: background-color 2s;
  animation-timing-function: ease-in-out;
}

.item-2:hover {
background-color: lawngreen;
}

.item-3 {
  grid-row: span 1;
  background-color: purple;
  transition: all 2s;
  animation-timing-function: ease-in-out;
}

.item-3:hover {
background-color: purple;
}

.item-4 {
  grid-column: span 1;
  background-color: peru;
  transition: background-color 2s;
  animation-timing-function: ease-in-out;
}

.item-4:hover {
background-color: peru;
}

.item-5 {
  grid-row: span 1;
  background-color: darkblue;
  transition: background-color 2s;
  animation-timing-function: ease-in-out;
}

.item-5:hover {
background-color: darkblue;
}

.item-6 {
  grid-row: span 2;
  background-color: darkolivegreen;
  transition: background-color 2s;
  animation-timing-function: ease-in-out;
}

.item-6:hover {
background-color: darkolivegreen;
}

.item-7 {
  grid-row: span 1;
  background-color: darkslategrey;
  transition: background-color 2s;
  animation-timing-function: ease-in-out;
}

.item-7:hover {
background-color: darkslategrey;
}

