 * {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: grid;
  row-gap: 20px;
  align-items: center;
  justify-content: center;
}

/*.card > img {
  width: 700px;
  height: 200px;  
  object-fit: cover;
}*/

img {
  width: 50vw;
  height: 40vh;
  display: block;
  object-fit: cover;
  object-position: center;
}

.tags {
  display: flex;
  flex-direction: column;
  list-style: none;
  background-color: grey;
  color: white;
  margin: 10px;
  padding: 5px;
  border-radius: 0.5em;
}
